.adContainer {
  display: flex;
  right: 0;
  margin: 5px;
  height: 300px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(9, 9, 9, 0.6);
  justify-content: space-between;
}
.adContent {
  margin: 2px;
}
.adHeader {
  font-size: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.adParagh {
  font-size: 25px;
}
.demoButton {
  margin: 2%;
  padding: 2%;
  background-color: white;
  border-radius: 5px;
}
.demoButton:hover {
  background-color: black;
  color: white;
}
.imgContainer {
  height: auto;
  width: 50%;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(20, 20, 20, 0.6);
}
