.navbar {
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: azure;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(9, 9, 9, 0.6);
}
.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 2.0rem;
}

.menu {
  list-style: none;
  display: flex;
 
}
.menuItem{
 padding-right: 25px;
 
}
