.productContainer {
    margin: 10px;
    padding: 12px;
    height: max-content;
    border-radius: 5px;
    border: 0px solid black;       
    background-color: white;
    box-shadow: 1px 1px 5px rgba(5, 0, 0, 0.3);
    box-sizing: border-box;
    flex: 1 1 250px;               
    max-width: 300px;  
    
         
}

.productContent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productTitle {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.productImage {
    width: 250px;                   
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}
