/* Container */
.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
}

/* Card */
.auth-box {
   margin: 100px; 
  justify-self: center;
  width: 360px;
  padding: 30px;
  background: #fff;
  border-radius: 18px;

  box-shadow: 
    0 5px 10px rgba(0,0,0,0.05),
    0 15px 30px rgba(0,0,0,0.08);
  text-align: center;
}

/* Title */
.auth-box h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/* Input */
.input-group input {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin-bottom: 15px;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #0078ff;
  box-shadow: 0 0 4px rgba(0,120,255,0.3);
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0078ff;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #0063d5;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.links span,
.back {
  font-size: 14px;
  color: #0078ff;
  cursor: pointer;
  transition: 0.2s;
}

.links span:hover,
.back:hover {
  text-decoration: underline;
}

/* OTP Input Group */
.otp-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.otp-group input {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.otp-group input:focus {
  border-color: #0078ff;
  box-shadow: 0 0 4px rgba(0,120,255,0.3);
}
