.contactCMP{
    flex-wrap: wrap;
  padding: 2px;
  margin: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(9, 9, 9, 0.6);
  border-radius: 4px;
 justify-items: center;
}
.contactHeader{
    justify-self: center;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contactContent{
     align-self: center;
     padding: 20px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.demoButton {
  margin: 2%;
  padding: 2%;
  background-color: white;
  border-radius: 5px;
}
.demoButton:hover {
  background-color: black;
  color: white;
}