.trusted-section {
  padding: 60px 5%;
  background: var(--primary-bg);
  text-align: center;
  border-bottom: 1px solid var(--glass-border);
}

.trusted-title {
  color: var(--text-muted);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: var(--font-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--accent-blue);
}

.category-switch {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.category-btn {
  background: transparent;
  border: 1px solid var(--glass-border);
  color: var(--text-muted);
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-main);
  font-size: 0.9rem;
}

.category-btn:hover, .category-btn.active {
  background: var(--primary-color);
  color: var(--text-muted);;
  border-color: var(--primary-color);
}

.logos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
  opacity: 0.8;
}

.org-logo {
  height: 45px;
  width: auto;
  object-fit: contain;

}

.org-logo:hover {
  filter: grayscale(0%) brightness(1) contrast(1);
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .logos-grid {
    gap: 25px;
  }
  .org-logo {
    height: 35px;
  }
}
